* {box-sizing: border-box;}
body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif !important;}



 
 /* ---------------------------------------------------------- */
/*               Re Usable Heading                */
/* ---------------------------------------- */
.heading-part {
    color: black;
    font-size: 2.7vw;
    font-weight: 700;
}   


.maintain-width {
    width: 85.4vw;
    margin-left: auto;
    margin-right: auto;
}
/* ---------------------------------------------------------- */
/* --------Header----------- */
/* ---------------------------------------- */
.vaid-header {
    padding: 28px 0;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 2;
}

.vaid-icon {
    width: 9vw;
}
.up-down {width: 1.7vw;}


.lang {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.32vw;
    font-weight: 600;
    margin-left: 7%;
}
.lang-menu {
    font-size: 1.04vw;
    font-weight: 400;
    width: 12.02vw !important;
    height: 3vw;
    background-color: #F0F0F0 !important;
    color: #514747;
    border-width: 0 !important;
    border-radius: 4px !important;
    padding-left: 1%;
    /* to change the button drop-down icon */

    appearance: none;
    /* -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    border: 2px solid #000;
    background: url(/resources/icons/chevron-down.svg);
    background-repeat: no-repeat;
    background-size: 1.8vw 1.8vw;
    background-position: right 0.7vw;; */
}
.lang-drop-dwon-icon {
    top: 25%;
    right: 0;
}
.city-drop-dwon-icon {
    top: 29%;
    right: 30%;
}
.drop-down-icon {
    width: 1.5vw;
}
.lang-menu:focus-visible {
    outline:none !important;
}
.profile-pic {width: 3vw;}

.user-profile {
    position: relative;
    font-size: 1.3vw;
}
.profile-icons {
    width: 1.2vw;
}
.dropdown-content {
    display: none;
    background-color: #F8F8F8;
    border: 1px solid #D4D4D4;
    border-radius: 6px;
    width: 27.1vw;
    height: 19.5vw;
    top: 52px;
    right: 0;
    z-index: 3;
    font-size: 1vw !important;
    font-weight: 400;
}
.ellipsis-vertical {display: none;}
.each-line {
    padding: 1.1vw 0 1.2vw 1vw;
    border-bottom: 1px solid #D4D4D4;
}
.each-line a,
.each-line a:hover {
    text-decoration: none;
    color: #666666;
}
.each-line span:last-child {
    padding-left: 0.7vw;
}
.header-btnn {
    padding: 0 !important;
}

/* ---------------------------------------------------------- */
/* --------Hero Section----------- */
/* ---------------------------------------- */
.hero-img{
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/resources/img/2856828.png");
    background-size: auto 100%;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    height: 41vw;
    padding-top: 10%;
    margin-bottom: 4%;
}
.serch-icon {
    width: 2vw;
    top: 1vw;
    left: 28vw;
}
.input-box {
    width: 32vw;
    height: 4.1vw;
    border-radius: 6px;
    background-color: #FFFFFF;
    color: #666666;
    font-size: 1.2vw;
    font-weight: 400;
    padding: 0% 16% 0 3%;
    border-width: 0 !important;
}

.input-box:focus-visible,
.places-menue:focus-visible{
    outline:none !important;
}
.places-menue {
    font-size: 1.04vw;
    font-weight: 400;
    width: 13.02vw;
    height: 4.1vw;
    background-color:#1A54B0 !important;
    color: #FFFFFF;
    margin-right: 2vw;
    padding-left: 3vw;
    border-width: 0 !important;
    border-radius: 4px !important;

    /* to change the button drop-down icon */
    
    appearance: none;
    /* -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    border: 2px solid #000;
    background: url(/resources/icons/chevron-down-w.svg);
    background-repeat: no-repeat;
    background-size: 1.6vw 1.6vw;
    background-position: right 1.3vw; */
}

.hero-texxt {
    font-size: 3.55vw;
    color: #FFFFFF;
    font-weight: 600;
    padding-bottom: 3%;
}

.all-content {
    padding-bottom:10%;
}

/* ---------------------------------------------------------- */
/* -------- What are you looking for ----------- */
/* ---------------------------------------- */

.first-card,
.second-card,
.third-card{
    height: 14.25vw;
    border-radius: 6px;
    padding: 10% 0;
    width: 25.5vw;
}
.first-card {
    background-color: #A485BE;
}
.second-card {
    background-color: #89CCAB;
}
.third-card {
    background-color:#F79384;
}
.card-text {
    color: #FFFFFF;
    font-size: 2.1vw;
    font-weight: 700;
    padding-bottom: 5%;
}
.card-btn {
    width: 9.8vw;
    height: 3.4vw;
    border:1px solid #FFFFFF !important;
    border-radius: 6px !important;
    color: #FFFFFF  !important;
    font-size: 1.05vw !important;
    font-weight:  700 !important;
    padding-top: 3% !important;
}


/* ---------------------------------------------------------- */
/* -------- Section Kind of Doctor ----------- */
/* ---------------------------------------- */
.doctors-accros {
    font-size: 1.32vw;
    font-weight: 400;
    color: #666666;
}
.kind-of-dr {margin-bottom: 4%;}
.doctor-kind {
    font-size: 1.32vw;
    font-weight: 700;
    color: #1A54B0;
    margin-top: 5%;
}
.each-doctor {
    width: 100%;
}

.dr-img {
    width: 18.5vw;
    height: 15.5vw;
    object-fit: cover;
}


/* ---------------------------------------------------------- */
/* -------- How it Works ----------- */
/* ---------------------------------------- */
.how-it-works {
    background-color: #F8F8F8;
    height: 36.4vw;
    padding-top: 4vw;
}

.how-it {
    padding-top: 3vw;
}
.calender {
    width: 8.7vw;
}
.doc {
    width: 9.5vw;
}
.mobile {
    width: 9vw;
}


.description {
    color : #514747;
    font-weight: 400;
    font-size:1.2vw
}
.name-type {
    font-size: 1.5vw;
    color: #000000;
    font-weight: 700;
    padding: 7% 0 1% 0;
}

/* ---------------------------------------------------------- */
/* --------      Rattings   ----------- */
/* ---------------------------------------- */
.loved-by-customers {
    width: 27.1vw;
    height: 15.9vw;
}
.rate-description {
    font-size: 1.23vw;
}
.ratting {padding:3.5% 0 10% 0;}
.star {width: 1.6vw;}
.loved {
    font-size: 1.8vw;
    font-weight: 600;
    color: #000000;  
}
.star-ro {padding: 5% 0;}
.text-left {font-size: 1.23vw;}
.reivews,
.ratting-des {
    font-size: 1.2vw;
    font-weight: 400;
    color: #666666;
}
.reivews {padding-left: 2%;}

.appointments-big {font-size: 1.23vw;}
.heart-icon ,
.side-heart-icon{
    background-color: #F6F5F5;
    border-radius: 100%;
}
.heart-icon {
    width: 3vw;
    height: 3vw;
}
.side-heart-icon {
    width: 2vw;
    height: 2vw;
}
.heart {width: 1.5vw;}
.side-heart {width:1vw;}
.beard-man {width: 7.33vw;}
.left-img {width: 4.91vw;}
.icon-heart-container {
    top: 10%;
    right: 0;
}
.user-ratting,
.side-by-side {
    border-radius: 6px;
    background-color: #F6F5F5;
}
.user-ratting {
    width: 24.2vw;
    height: 31.2vw;
    padding:7% 5%;
}
.side-by-side {
    width: 15.2vw;
    height: 22.2vw;
    padding: 14% 7%;
}
.new-york {
    padding-top:8%;
    font-size:1.23vw;
}

.smal-star {width: 1vw;}
.user-name-r,
.main-user,
.sm-user-name {
    font-weight: 700;
    color: #000000;
}
.main-user {font-size:1.5vw;}
.user-name-r {
    font-size: 1.38vw;
    border-top: 2px dashed #B5AFAF;
    padding-top: 8%;
}
.side-user {
    font-size: 1vw;
}
.ratting-bootom-text {bottom: 2%;}
.all-smal-star {padding-bottom: 5%;}
.text-after-star {
    font-size: 0.9vw;
    color: #000000;
}
.sm-appointment,
.sm-city {
    font-size: 0.8vw;
    color: #514747;
    font-weight: 400;
}

.sm-city {padding-top: 8%;}
.sm-user-name {
    font-size:0.89vw;
    border-top: 1px dashed #B5AFAF;
    padding-top: 8%;
}
.left-1 {
    margin-right: 16vw;
    padding: 6% 3%;
}
.middle-post {
    left: 23%;
    z-index: 1;
    bottom: -15%;
}
.main-ratting-part  {
    padding-top: 9%;
}
.middle-text {
    font-size:1.23vw ;
    color: #000000;
    font-weight: 400;
}
.left-aro,
.right-aro {
    top: 45%;
    width: 4vw;
    height: 4vw;
    background-color: #F0F0F0;
    z-index: 1;
    border-radius: 100%; 
}
.left-aro {left: -17%;}
.right-aro {right: -10%;}
.chevron {width: 1.6vw;}
.elipse {width: 1vw;}
.down-three-elipse {
    bottom:-9%; 
    left: 45%;
}
.right-ratting {
    padding-right:2%;
}
/* ---------------------------------------------------------- */
/* --------      Rattings   ----------- */
/* ---------------------------------------- */


/* ---------------------------------------------------------- */
/* --------     Cities   ----------- */
/* ---------------------------------------- */
.cities-operated {
    background-color: #F8F8F8;
    padding: 5% 12% 3% 20%;
}
.forward-arrro {width: 01vw;}
.cities-heading {padding-bottom: 2%;}
.cities-name {
    font-size:1.23vw;
    color: #666666;
    font-weight: 400;
}
.each-city {padding-bottom: 4%;}



/* ---------------------------------------------------------- */
/* --------     Footer   ----------- */
/* ---------------------------------------- */
.footer-part {
    background-color: #212121;
    width: 100%;
    color: #FFFFFF;
    font-size: 1.23vw;
    padding:3% 0 2% 0;
} 

.vaid-white {
    width: 7.65vw;
}
.contact-info  {
    padding-left: 13%;
}
.contact-info a,
.contact-info a:hover {
    font-weight: 600;
    font-size: 1.23vw;
    padding-right: 3vw;
    text-decoration: none;
    color:#FFFFFF;;
}



.icon-bg {
    background-color: #FFFFFF;
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    margin-left: 1vw;
}
.fb-icon {width: 0.9vw;}
.twitter-icon,
.insta-icon {width: 1.6vw;}
.play-s {padding-left: 1vw;}
.playstore,
.appstore {width: 10vw;}
.footer-middle {padding: 3% 0;}
.copy-right {
    border-top: 1px solid #ffffff70;
    font-size: 1.24vw;
    padding: 2% 0  0 0;
}